.formi{
    border:1px solid grey;
  width: 500px;
  padding: 25px;
  margin:25px;
}
span.important:after{
    content: '\0021';
    color: rgb(60, 130, 139);
}
.done{
    color: green;
    text-decoration: overline;
}
span.urgent:after{
    content: '\21BB';
    color: rgb(167, 13, 108);
}

.normal{
    display: none;
}
.notdonebutton {
    background-color:rgb(211, 208, 214) ;
    border: none;
    color: black;
    margin:4px;
    padding: 8px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    border-radius: 5px;
    font-size: 12px;
    /* box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19); */
  }
  .donebutton {
    background-color:rgb(185, 31, 116) ;
    border: none;
    color: rgb(255, 255, 255);
    margin:4px;
    padding: 8px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    border-radius: 5px;
    font-size: 12px;
    /* box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19); */
  }
  