.App {
  width: 100%;
  height: 450px;
  background-size: cover;
  background-repeat: no-repeat;
  background-image: url('images/skyline.jpg');
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  
  height: 150px;
  padding: 20px;
  color: black;
  margin: 0; 
}

.App-title {
  font-size: 1.5em;
  padding: 60px;
  text-align: center;
}

.App-intro {
  font-size: large;
  padding: 60px;
  text-align: center;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

